# R 
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj


# Project-specific
data_manager/data
mcmc_runs
cached
mcmc_cache
results/for_lancet_pres

# Project-specific
/temp/
*git-ignored/

# OS-specific
.DS_Store
~$*
